button:focus,
input:focus,
textarea:focus {
    outline: none !important;

}

.blueprint {
    color: hsl(0, 0%, 76%);
    /* width: 400px; */
    background-color: rgba(7, 7, 7, 0.679);
    justify-content: center;
    margin: auto;
    /* height: auto; */
    padding: 1rem;
    width: 100%;
    max-width: 420px;
    height: 90vh;
    max-height: 650px;
}

.blueprint-child {
    padding: 45px 35px 25px;
    text-align: center;

}

.main {
    justify-content: center;
    text-align: center;
    padding: 0 auto;
    margin-top: 0px;

}

.btn-group {
    display: flex;
    flex-wrap:nowrap;
    margin-top: 10px;

}

.btn-buttons {
    width: 90px;
    padding: 8px 12px;
    font-size: 16px;
    color: hsl(0, 0%, 76%);
    margin: 0 5px;
    border-radius: 5%;
    border: none;
    text-align: center;
}

.main-2 {
    text-align: center;
    margin-top: 20px;
}

.main2-ta {
    background-color: rgb(28, 30, 33);
    margin: auto 30px;
    border-radius: 3%;
    height: 100px;
    padding: 15px 10px;
}

.main2-ta p {
    font-size: 18px;
}

.answer-form {
    margin: auto 30px;

}

.answer-form-input {
    margin: 25px 0px;
    display: block;
    padding: 10px 15px;
    width: 100%;
    border-style: solid;
    border-color: rgb(47, 50, 54);
    font-size: 16px;
    border-width: 0.7px;
    border-radius: 5px;
}

.answer-form-btn {
    float: right;
    background-color: rgb(28, 30, 33);
    padding: 10px 15px;
    border-radius: 4%;
    margin-bottom: 15px;
}

.flash-container {
    margin:0 auto 10px;
    clear: both;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
}

.sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0px 30px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(47, 50, 54);
    font-size: 17px;
    font-weight: bold;
}

.controls>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.controls .dropdown-menu {
    display: none;
}

.rc1 {
    clear: both;
    margin: auto 30px;
    background-color: #293240;
    height: 240px;
    border-radius: 4%;
    align-items: center;
    padding: 20px 15px 15px;
}

.riddle-box {
    margin: auto 5px;
    padding: 20px 10px;
    height: 130px;
    background-color: #1d2230;
    text-align: center;
    columns: hsl(0, 0%, 76%);
    font-size: 18px;
}

.tc {
    margin: 5px auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.pc {
    background-color: #1d2230;
    width: 100%;
    max-width: 100%;
    height: 1.5rem;
    padding: 5px;
    border-radius: 5px;
}

#progress-bar {
    height: 100%;
    border-radius: 5px;
    background-color: #ef4444;
    transition: width 0.4s ease
    /* transition: all 1s; */
}
/* Responsive adjustments for small screens */
@media screen and (max-width: 600px) {
    .blueprint{
        height: 150vh;
        padding: 0.75rem;
    }
    .btn-group{
        display: flex;
        justify-content: space-between;
    }
    .btn-buttons {
        flex: 1 1 45%;
        font-size: 14px;
        padding: 6px 8px;
        min-width: 60px;
    }
    .rc1 {
        margin: auto 30px;
        background-color: #293240;
        height: auto;
        border-radius: 5px;
        align-items: center;
        padding: 10px 8px;
    }

    .riddle-box {
        font-size: 16px;
        padding: 10px 8px;
    }

    .sb {
        font-size: 14px;
        padding: 0.5rem;
    }

    .pc {
        height: 25px;
    }
    .answer-form{
        display: flexbox;
        justify-content: center;
    }
    .answer-form-input {
        font-size: 14px;
        padding: 8px 10px;
    }
}